aiofiles==24.1.0
aiohttp==3.12.12
chardet==5.2.0
docx==0.2.4
Faker==37.3.0
fastapi==0.115.12
format_converter==1.1
gensim==4.3.3
neo4j==5.28.1
numpy==2.3.0
openai==1.85.0
openpyxl==3.1.5
pandas==2.3.0
passlib==1.7.4
pdfplumber==0.11.6
psycopg2==2.9.10
pydantic==2.11.5
PyJWT==2.7.0
PyJWT==2.10.1
pytest==8.3.5
redis==6.2.0
Requests==2.32.4
setuptools==80.3.1
spacy==3.8.7
starlette==0.47.0
uvicorn==0.34.3
